:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  user-select: none;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  transition: background-color 0.25s;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.btn {
  font-size: 1rem;
  font-family: inherit;
  border-radius: 0.5em;
  border: none;
  padding: 0.6em 1.2em;
  cursor: pointer;
  transition: box-shadow 0.25s;
  margin: 0.5em 1em;
}
.btn:focus,
.btn:active {
  box-shadow: 0 0.2em 0.2em 0 #242424, inset 0 0.1em 0.1em 0 #d2d2d2;
}
